[Unit]
Description=very simple http server httpium
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/httpium
ExecReload=/bin/kill -s HUP $MAINPID
Type=simple
Restart=always
RestartSec=2


[Install]
WantedBy=multi-user.target
